.country-list {
    padding: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .country-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the country cards horizontally */
  }
  
  .country-card {
    width: calc(14% - 20px); /* Calculate width for 7 cards in a row with spacing */
    margin: 10px; /* Adjust margin for spacing between cards */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px; 
  }
  
  .country-flag {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 12px;
  }
  
  .country-name {
    display: block;
    font-size: 16px;
  }
  